body{
    margin: 0;
    padding: 0;

    font-family: "Open+Sans", "Arial", sans-serif;
    font-size: 45.83px;
    line-height: 125px;
    font-weight: 400;
    color: #393939;

    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

.header{
    background-color: #4c5fa9;
    color: #ffffff;
}

.header-name{
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 100px;
    line-height: 95px;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.header-profession{
    font-family: "Open+Sans", Arial, sans-serif;
    font-size: 58.33px;
    line-height: 95px;
    font-weight: 400;
    letter-spacing: 0.01em;
}

.header-contacts,
.header a{
    color: #ffffff;
}

.header a:hover,
.header a:focus{
    color: #092697
}

.contacts-link{
    line-height: 66.67px;
}

.contacts-email{
    line-height: 70.83px;
}

.contacts-tel{
    line-height: 125px;
}

.left-column{
    background-color: #fafafa;
}

li,
.Interest li,
.Reference-item,
.Awwards-item,
.Experience-item,
.Education-item,
.Skils-item,
.contacts-link,
.Skils-possession,
.descripon{
    list-style: none;
}

.conteiner h2{
    font-size: 66.67px;
    color: #2e2e2e;
}

.Profile p{
    line-height: 75px;
}

.Awwards-item,
.Interest li,
.Skilss-item{
    font-weight: 600;
}

.Skilss-item{
    text-align: center;
}

.Experience-item b,
.Reference-fist b,
.Reference-second b,
.Education-item b{
    font-weight: 600;
    color: #4c5eab;
}

.Awwards-list,
.Reference-list,
.Education-list,
.Experience-list{
    line-height: 95px;
}

.descripon{
    line-height: 70.83px;
}

.Skilss-prossession{
    font-size: 66.67px;
    line-height: 125px;
    text-align: center;
}

footer{
    background-color: #4c5fa9;
}

footer a{
    color: #ffffff;
}

footer a:focus,
footer a:hover{
    color: #4c5fa9;
    background-color: #ffffffff;
}

/* Рзметка сетки*/
.visually-hidden{
    display: none;
}

body,
h1,
h2,
p,
span,
ul,
main,
div,
a{
    margin: 0px;
    padding: 0px;
}

body{    
    width: 2625px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    overflow: auto;
    margin-bottom: 100px;
    position: relative;
}

.header::before{
    content: " ";
    position: absolute;
    width: 360px;
    height: 360px;
    top: 190px;
    left: 205px;
    background-image: url(Images/Ellipse\ 1.png);
}

.img{
    width: 580px;
    height: 580px;
    float: left;
}

.img p{
    position: relative;
    width: 380px;
    height: 380px;
    margin-top: 191px;
    margin-left: 200px;
    display: block;
    overflow: hidden;
    border-radius: 190px 190px;
}

.foto img{
    margin-left: -100px;
}

.header-name{
    margin: 0px;
    padding: 0px;
    width: 915px;
    margin-left: 35px;
    margin-top: 241px; 
    float: left;
    
}

.header-contacts{
    margin: 0px;
    padding: 0px;
    width: 375px;
    padding-top: 155px;
    margin-right: 200px;
    padding-left: 100px;
    float: right;
}

.contacts-link{
    display: block;
    position: relative;
}

.contacts-link::before{
    display: block;
    content: " ";
    position: absolute;
    left: -75px;
    top: 5px;
    width: 36px;
    height: 48px;
    background-image: url("Images/map\ pin.png");
    background-position: center;
    background-repeat: no-repeat;
}

.contacts-email{
    display: block;
    position: relative;
    margin-top: 30px;
    list-style: none;
}

.contacts-email::before{
    display: block;
    content: " ";
    position: absolute;
    left: -75px;
    top: 10px;
    width: 36px;
    height: 48px;
    background-image: url("Images/globe.png");
    background-position: center;
    background-repeat: no-repeat;
}

.contacts-tel{
    display: block;
    position: relative;
    margin-top: 45px;
    list-style: none;
    padding-bottom: 120px;
}

.contacts-tel::before{
    display: block;
    content: " ";
    position: absolute;
    left: -75px;
    top: 35px;
    width: 36px;
    height: 48px;
    background-image: url("Images/telephone.png");
    background-position: center;
    background-repeat: no-repeat;
}

.left-column{ 
    width: 665px;
    padding-left: 205px;
    float: left;
}

.Profile h2{
    position: relative;
    padding-left: 165px;
    margin-bottom: 65px;
}

.Profile h2::before{
    display: block;
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    height: 120px;
    background-image: url("Images/brief\ case\ 2.png"),
                      url("Images/Ellipse\ 3.png");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}

.Profile p{
    margin-bottom: 190px;
}

.Interest-list{
    overflow: auto;
}

.Interest{
    margin-bottom: 130px;
}

.Interest h2{
    position: relative;
    padding-left: 165px;
    margin-bottom: 75px;
}

.Interest h2::before{
    display: block;
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    height: 120px;
    background-image: url("Images/brief\ case\ 2.png"),
                      url("Images/Ellipse\ 3.png");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}

.Interest-list li{
    width: 221px;
    float: left;
    padding-top: 190px;
}


.musik{
    display: block;
    position: relative;
    text-align: left;
}

.musik::before{
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 144px;
    height: 144px;
    background-image: url("Images/Ellipse\ 2.png"),
                      url("Images/handset.png"); 
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;                  
}

.gaming{
    display: block;
    position: relative;
    text-align: center;
}

.gaming::before{
    content: " ";
    position: absolute;
    top: 0px;
    left: 38px;
    width: 144px;
    height: 144px;
    background-image: url("Images/Ellipse\ 2.png"),
                      url("Images/playstation.png"); 
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;                  
}

.biking{
    display: block;
    position: relative;
    text-align: right;
}

.biking::before{
    content: " ";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 144px;
    height: 144px;
    background-image: url("Images/Ellipse\ 2.png"),
                      url("Images/vespa.png"); 
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;                  
}

.Reference h2{
    position: relative;
    padding-left: 165px;
    margin-bottom: 70px;
}

.Reference h2::before{
    display: block;
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    height: 120px;
    background-image: url("Images/brief\ case\ 2.png"),
                      url("Images/Ellipse\ 3.png");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}   

.Reference-fist{
    margin-bottom: 120px;
    padding-left: 95px;
}

.Reference-fist b{
    position: relative;
}

.Reference-fist b::before{
    display: block;
    content: " ";
    position: absolute;
    left: -90px;
    top: 0px;
    width: 48px;
    height: 48px;
    background-image: url("Images/Ellipse\ smoll.png");
    background-position: top;
    background-repeat: no-repeat;
}

.Reference-fist b::after{
    display: block;
    content: " ";
    position: absolute;
    left: -90px;
    top: 44px;
    width: 48px;
    height: 360px;
    background-image: url("Images/Shape\ 1.png");
    background-position:  bottom;
    background-repeat: repeat-y;
}

.Reference-second{
    margin-bottom: 150px;
    padding-left: 95px;
}

.Reference-second b{
    position: relative;
}

.Reference-second b::before{
    display: block;
    content: " ";
    position: absolute;
    left: -90px;
    top: 0px;
    width: 48px;
    height: 48px;
    background-image: url("Images/Ellipse\ smoll.png");
    background-position: center;
    background-repeat: no-repeat;
}

.Awwards h2{
    position: relative;
    padding-left: 165px;
    margin-bottom: 70px;
}

.Awwards h2::before{
    display: block;
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    height: 120px;
    background-image: url("Images/brief\ case\ 2.png"),
                      url("Images/Ellipse\ 3.png");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}   

/* Правая колонка */

.riht-column{
    width: 1585px;
    margin-left: 120px;
    float: left;
}

main::after{
    content: " ";
    display: table;
    clear: both;
}

.riht-column h2{
    margin-bottom: 70px;
    position: relative;
    padding-left: 215px;
}

.Work-Experience h2::before{
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    height: 120px;
    background-image: url("Images/brief\ case\ 2.png"),
                      url("Images/Ellipse\ 3.png");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}    

.Experience-list{
    margin-left: 130px;
    margin-bottom: 50px;
    width: 1755px;
    overflow: auto;
}

.work1{
    position: relative;
}

.work1::before{
    display: block;
    content: " ";
    position: absolute;
    left: -85px;
    top: 0px;
    width: 48px;
    height: 48px;
    background-image: url("Images/Ellipse\ smoll.png");
    background-position: top, center;
    background-repeat: no-repeat;
}

.work1::after{
    display: block;
    content: " ";
    position: absolute;
    left: -85px;
    top: 44px;
    width: 48px;
    height: 345px;
    background-image: url("Images/Shape\ 1.png");
    background-position:  bottom, center;
    background-repeat: repeat-y;
}

.work2{
    position: relative;
}

.work2::before{
    display: block;
    content: " ";
    position: absolute;
    left: -85px;
    top: 0px;
    width: 48px;
    height: 48px;
    background-image: url("Images/Ellipse\ smoll.png");
    background-position: top, center;
    background-repeat: no-repeat;
}

.work2::after{
    display: block;
    content: " ";
    position: absolute;
    left: -85px;
    top: 44px;
    width: 48px;
    height: 345px;
    background-image: url("Images/Shape\ 1.png");
    background-position:  bottom, center;
    background-repeat: repeat-y;
}

.work3{
    position: relative;
}

.work3::before{
    display: block;
    content: " ";
    position: absolute;
    left: -85px;
    top: 0px;
    width: 48px;
    height: 48px;
    background-image: url("Images/Ellipse\ smoll.png");
    background-position: top, center;
    background-repeat: no-repeat;
}

.education1{
    position: relative;
}

.education1::before{
    display: block;
    content: " ";
    position: absolute;
    left: -85px;
    top: 0px;
    width: 48px;
    height: 48px;
    background-image: url("Images/Ellipse\ smoll.png");
    background-position: top, center;
    background-repeat: no-repeat;
}

.education1::after{
    display: block;
    content: " ";
    position: absolute;
    left: -85px;
    top: 44px;
    width: 48px;
    height: 345px;
    background-image: url("Images/Shape\ 1.png");
    background-position:  bottom, center;
    background-repeat: repeat-y;
}

.education2{
    position: relative;
}

.education2::before{
    display: block;
    content: " ";
    position: absolute;
    left: -85px;
    top: 0px;
    width: 48px;
    height: 48px;
    background-image: url("Images/Ellipse\ smoll.png");
    background-position: top, center;
    background-repeat: no-repeat;
}

.Experience-item,
.Education-item{
    width: 570px;
    margin-left: 85px;
    float: left;
} 

.descripon{
    width: 715px;
    margin: 0px;
    padding-top: 27px;
    margin-bottom: 250px;
    float: left;
}

.Education h2::before{
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    height: 120px;
    background-image: url("Images/brief\ case.png"),
                      url("Images/Ellipse\ 3.png");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}    

.Education-list{
    margin-left: 130px;
    width: 1755px;
    overflow: auto;
}

.descripon{
    width: 715px;
    margin: 0px;
    padding-top: 27px;
    margin-bottom: 150px;
    float: left;
}

.Education{
    margin-bottom: 100px;
}

.Professional-Skills h2::before{
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    height: 120px;
    background-image: url("Images/graph\ chart\ 1.png"),
                      url("Images/Ellipse\ 3.png");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
} 

.Skilss-list{
    padding-left: 120px;
    position: relative;
    overflow: auto;
}

.Skilss-item,
.Skilss-prossession{
    width: 360px;
    float: left;
}

.Skilss-prossession{
    padding-top: 100px;
    padding-bottom: 100px;
}

.Interface::before{
    content: " ";
    width: 240px;
    height: 240px;
    left: 180px;
    top: 42px;
    position: absolute;
    background-image: url("Images/Ellipse 93.png");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;                  
}

.Design::before{
    content: " ";
    width: 240px;
    height: 240px;
    left: 538px;
    top: 42px;
    position: absolute;
    background-image: url("Images/Ellipse 97.png");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;                  
}

.Photoshop::before{
    content: " ";
    width: 240px;
    height: 240px;
    left: 896px;
    top: 42px;
    position: absolute;
    background-image: url("Images/Ellipse 84.png");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;                  
}

.Experience::before{
    content: " ";
    width: 240px;
    height: 240px;
    left: 1254px;
    top: 42px;
    position: absolute;
    background-image: url("Images/Ellipse 83.png");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;                  
}

footer{
    padding: 70px;
    margin-bottom: 300px;
    overflow: auto;

}

footer a{
    display: inline-block;
    padding: 10px 30px;
    border: 5px solid  #ffffff;
    border-radius: 60px 60px;
    box-shadow: 0 0 50px;
    float: right;
}

.hiden-element{
    display: none;
}

/* Страница портфолио */

.rabota{
    font-weight: 600;
}

.perechen-rabot li{
    text-align: center;
    line-height: 70px;
}

.podpis{
    padding-top: 90px;
    padding-bottom: 90px;
}

.Reference-fist-port b,
.Reference-second-port b{
    font-weight: 600;
    color: #4c5eab;
}

.Reference-fist-port{
    margin-bottom: 120px;
    padding-left: 95px;
}

.Reference-fist-port b{
    position: relative;
}

.Reference-fist-port b::before{
    display: block;
    content: " ";
    position: absolute;
    left: -90px;
    top: 0px;
    width: 48px;
    height: 48px;
    background-image: url("Images/Ellipse\ 2.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

.Reference-fist-port b::after{
    display: block;
    content: " ";
    position: absolute;
    left: -90px;
    top: 44px;
    width: 48px;
    height: 360px;
    background-image: url("Images/Shape\ 1.png");
    background-position:  bottom;
    background-repeat: repeat-y;
}

.Reference-second-port{
    margin-bottom: 150px;
    padding-left: 95px;
}

.Reference-second-port b{
    position: relative;
}

.Reference-second-port b::before{
    display: block;
    content: " ";
    position: absolute;
    left: -90px;
    top: 0px;
    width: 48px;
    height: 48px;
    background-image: url("Images/Ellipse\ 2.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio h2::before{
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    height: 120px;
    background-image: url("Images/brief\ case\ 2.png"),
                      url("Images/Ellipse\ 3.png");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
} 

.perechen-rabot{
    padding-left: 215px;
    float: left;
}

.perechen-rabot li{
    float: left;
    margin-top: 50px;
    margin-right: 52px;
    margin-bottom: 100px;
    box-shadow: 0 0 100px #e0e0e0;
}

.scrinshot{
    margin: 0px;
    padding: 0px;
    background-image: url("Images/fon_portfolio.jpg");
    border: 1px solid #ccc;
}

.scrinshot a{
    display: block;
    height: 435px;
}

.foot-portfolio{
    padding: 70px;
    margin-top: 50px;
    margin-bottom: 300px;
    overflow: auto;

}

.foot-portfolio a{
    display: inline-block;
    padding: 10px 70px;
    border: 5px solid  #ffffff;
    border-radius: 60px 60px;
    box-shadow: 0 0 50px;
    float: none;
}