body{
    margin: 0;
    padding: 0;

    font-family: "Open+Sans", "Arial", sans-serif;
    font-size: 45.83px;
    line-height: 125px;
    font-weight: 400;
    color: #393939;

    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

.header{
    background-color: #4c5fa9;
    color: #ffffff;
}

.header-name{
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 100px;
    line-height: 95px;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.header-profession{
    font-family: "Open+Sans", Arial, sans-serif;
    font-size: 58.33px;
    line-height: 95px;
    font-weight: 400;
    letter-spacing: 0.01em;
}

.header-contakts,
.header a{
    color: #ffffff;
}

.header a:hover,
.header a:focus{
    color: #092697
}

.contacts-link{
    line-height: 66.67px;
}

.contacts-email{
    line-height: 70.83px;
}

.contacts-tel{
    line-height: 125px;
}

.Interest-item,
.Reference-item,
.Awwards-item,
.Experience-item,
.Education-item,
.Skils-item,
.contacts-link{
    list-style: none;
}

.conteiner h2{
    font-size: 66.67px;
    color: #2e2e2e;
}

.Profile p{
    line-height: 75px;
}

.Awwards-item,
.Interest-item,
.Skils-item{
    font-weight: 600;
}

.Experience-item b,
.Reference-item b,
.Education-item b{
    font-weight: 600;
    color: #4c5eab;
}
.descripon{
    line-height: 70.83px;
}

/* Рзметка сетки*/
.visually-hidden{
    display: none;
}

body,
h1,
h2,
p,
span,
ul,
main,
div,
a{
    margin: 0px;
    padding: 0px;
}

body{    
    width: 2625px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    height: 645px;
}

.img{
    width: 627px;
    height: 360px;
    margin-top: 151px;
    float: left;
}


.header-name{
    margin: 0px;
    padding: 0px;
    width: 915px;
    margin-left: 18px;
    margin-top: 236px; 
    float: left;
    
}

.header-contakts{
    margin: 0px;
    width: 475px;
    padding: 0px;
    padding-right: 101px;
    margin-top: 160px;
    float: right;
}

.left-column{
    width: 665px;
    float: left;
    padding-left: 205px;
    padding-top: 100px;
}

.riht-column{
    width: 1605px;
    float: left;
    padding-left: 150px;
    padding-top: 100px;
}

.Interest-item{
    width: 221px;
    float: left;
}

.descripon,
.Experience-item,
.Education-item{
    width: 800px;
    float: left;
} 

.descripon{
    padding-top: 81px;
    padding-bottom: 81px;
}

.Skils-item{
    width: 400px;
    float: left;
}
